* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: lightgray;
}

h1 {
  font-size: 4.8rem;
}

@media (max-width: 1024px) {
  body {
    background: rgb(80, 235, 80);
  }
  .tablet {
    font-size: 3.5rem;
  }
}
@media (max-width: 500px) {
  body {
    background: rgb(80, 80, 235);
  }
  .mobile {
    font-size: 2.4rem;
  }
}
